<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>goToWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EC71168214A0AC2006BBC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC7117C214A0ACF006BBC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC71187214A0ACF006BBC4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
